<grid-topbar />
<main>
  <div class="container my-4">
    <div class="row justify-content-center mb-4">
      <div class="col-md-8">
        <div class="card shadow-sm p-4 mb-4 bg-white rounded">
          <div class="d-flex align-items-center">
            <img src="assets/images/team/01.jpg" class="rounded-circle me-4" width="80" height="80" alt="User" />
            <div>
              <div class="fw-bold fs-3">John Doe</div>
              <div class="text-muted fs-5">john&#64;example.com</div>
              <div class="mt-3">
                <span class="badge bg-success fs-5">Total Paid: <span class="fw-bold">304TND</span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <grid-hero />
    <app-tour-grid-card />
  </div>
</main>
<grid-footer1 />
